@charset "UTF-8";
/* CSS Document */
body{
	padding: 0px;
	margin: 0px auto 0px auto;
	background-color: #81cc95;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 500;
	font-size: 16px;
}

/*Following style formats the area on secondary pages where the logo sits above the colored bars*/

#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h1, h2 {
    text-align: center;
}

.art{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#subpage-content {
	width: 800px;
	min-height: 350px;
	background-color: rgba(255,255,255,0.85);
	margin: 0px auto 0px auto;
	padding: 15px;
	font-weight: 400;
	font-size: 15px;
	line-height: 22px;
}

#subpage-content img   {
	padding: 0px;
	background-color: rgba(100,100,100,1.00)
}
#subpage-content h1 {
	font-size: 2em;
	font-weight: 600;
	padding: 0px;
	margin: 0px 0px 20px 0px;
	text-indent: 0px;
} 
article.two-column {
	margin: 0px 0px 0px 0px;
	-moz-column-count: 2;
	-webkit-column-count: 2;
	column-count: 2;
}

#subpage-content p {
	margin: 0px 20px 10px 0px;
	padding: 0px;
}
#subpage-content a {
	color:#333333;
	font-weight:bold;
}

span{
    font-weight: bold;
    font-size: 20px;
}

/*Following style formats the main area on the home page only (with the background image and logo)*/

#home-image {
	background-image: url(../images/backgrounds/back-home.jpg);
	background-position: 0 0%;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 350px;
}

/*Following styles format the page footer*/

footer {
	width: 100%;
	color: #999;
	text-align: center;
	font-size: 11px;
	clear: both;
	margin: 0px auto 10px auto;
	padding:15px 0px 0px 0px;
}
footer p {
	margin: 20px;
    color: #000;
}
footer a {
	color: #000;
}